#aboutComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  padding: 0 10em 0 10em;
}
