#landingComponent {
  height: 100%;
  width: 100%;
}
#landingText {
  height: 100%;
  width: 100%;
  /* border: 2px solid brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
#landingImgContainer {
  height: 100%;
  width: 100%;
}
#landingImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
