#navbarStyling {
  /* height: 8em !important; */
}

#menuBtn {
  background-color: #144441 !important;
}
#navbarTitle {
  color: white !important;
  border-bottom: 5px solid #04baad;
}
.navText {
  color: white !important;
}
