#roadmapComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 100%;
  width: 100%;
}
.roadmapItem {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.roadmapTitle {
  font-size: 4em;
}
#lastRoadmapPara {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.roadmapPara {
  font-size: 1.4em;
  margin: 1em 0 1em 0;
  border-bottom: 5px solid #04baad;
  padding: 10px;
}
